// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
    margin-left: 400;
    
}
.forms-forms{
    background: rgb(207, 247, 245);
    width: 28%;
    margin: auto;
    padding: 7px;
    border-radius: 3.76px;
}
.kk{
    margin-left: 870px;
}